<h1>New Image URL</h1>

<!-- FIXME fix styling of flash message -->

<%= form_with scope: :imageurl, url: imageurls_path, local: true do |form| %>
    <p>
      <%= form.label :url %>
      <%= form.text_field :url %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>
