<%= link_to 'Back to home page', '/' %>

<p>
  <strong>Image URL:</strong>
  <%= @imageurl.url %>
</p>

<p>
  <strong>Tags:</strong>
  <div class="tag_list"><%= @sorted_tag_list.join(', ') %></div>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @imageurl.url %>" />
</p>
